<section class="home">
  <div class="container">
    <div class="col-sm-6">
      {{d.users.loaded}}
			
      <jform form="forms.register" data="d.users.loaded"></jform>
    </div>
  </div>
</section>