<div class="panel panel-info">
  <div class="panel-heading">{{form.title}}</div>
  <div class="panel-body">
    <div class="form-group" ng:repeat="i in form.fields">
      <label>{{i.label}}</label>

      <input type="{{i.type}}" class="form-control" 
        ng:if="i.type == 'text' || !i.type || i.type == 'email' || i.type == 'password'"
        ng:model="data[i.field]" ng:required="i.required">
    </div>
  </div>
  <div class="panel-footer">
    <jtoolbar buttons="form.buttons"></jtoolbar>
  </div>
</div>