<header ng:hide="data.kiosk">
<nav class="navbar navbar-light">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
        <a class="navbar-brand" href="/">{{site.name}}
        </a>

          <ul class="nav navbar-nav">
            <li ng:repeat="i in site.nav.links" class="nav-item">
							<a href="{{i.href}}" class="nav-link">
								<i ng:if="i.icon" class="fa fa-{{i.icon}}"></i> {{i.text}}</a></li>
						
          </ul>
			</div>
		</div>
	</div>

</nav>

</header>